<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>eZ Exceed guide</title>
        <!-- build:style dist --><!-- /build -->
        <link rel="icon" href="assets/gfx/favicon.png" type="image/png" />
        <link rel="shortcut icon" href="assets/gfx/favicon.png" type="image/png" />
    </head>
    <body>
        <div id="ezexceed-docs" class="container">
            <div class="row">
                <div class="toc span3">
                    <div class="well">
                        <!-- build:section toc -->
                        <!-- /build -->
                    </div>
                </div>
                <div class="content span9 offset3">
                    <!-- build:section views -->
                    <!-- /build -->
                </div>
            </div>
        </div>
        <!-- build:script dist --><!-- /build -->
    </body>
</html>
