<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>eZ Exceed guide</title>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.min.css" />
        <link rel="stylesheet" type="text/css" href="css/screen.css" />
        <link rel="made" href="http://www.keyteq.no/" title="Keyteq Labs" />
        <link rel="author" href="http://www.keyteq.no/" />
        <link rel="icon" href="gfx/favicon.png" type="image/png" />
        <link rel="shortcut icon" href="gfx/favicon.png" type="image/png" />
        <!-- build:style dist --><!-- /build -->
    </head>
    <body>
        <div id="ezexceed-docs" class="container">
            <div class="row">
                <div class="toc span3">
                    <!-- build:section toc -->
                    <!-- /build -->
                </div>
                <div class="content span9 offset3">
                    <!-- build:section views -->
                    <!-- /build -->
                </div>
            </div>
        </div>
        <!-- build:script dist --><!-- /build -->
    </body>
</html>
