body {
    text-rendering: optimizeLegibility;
}

.container {
    padding-bottom: 60px;
}

    .toc {
        height: 100%;
        position: fixed;
    }
    
        @media (max-width: 767px) {
            .toc {
                height: auto;
                position: static;
            }
        }
        
        .toc .well {
            margin: 36px 0 0;
            max-height: 85%;
            overflow: auto;
        }
        
            @media (max-width: 767px) {
                .toc .well {
                    margin: 20px 0 0;
                    max-height: none;
                }
            }
    
        .toc a:link { text-decoration: none; }
        .toc a:hover { text-decoration: underline; }
    
        .toc h2 {
            font-size: 15px;
            line-height: 1;
            margin: 0 0 8px;
        }
        
        .toc ul {
            font-size: 12px;
            line-height: 1.5;
            margin: 0 0 24px 0;
            list-style: disc inside;
        }
        
        @media (max-width: 767px) {
            .toc ul { margin-right: 0; }
        }
    
    .content { padding: 50px 0; }
        
        .content h1,
        .content h2,
        .content h3 { line-height: 1; }
        
        .content h1 {
            font-size: 30px;
            padding: 0 0 6px;
            border-bottom: 4px solid #f7b532;
            margin: 60px 0 12px;
        }
        
            .content h1:first-child {
                position: relative;
                height: 112px;
                text-indent: 100%;
                white-space: nowrap;
                overflow: hidden;
                background: url(../gfx/logo.png) 0 0 no-repeat;
                padding: 0;
                border: none;
                margin-top: 0;
            }
                
                .content h1:first-child:before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 8px;
                    left: 242px;
                    width: 100%;
                    height: 2px;
                    background: #b1b1b1;
                }
                
                .content h1:first-child:after {
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 6px;
                    background: #f7b532;
                }
        
        .content h2 {
            font-size: 24px;
            font-weight: normal;
            padding: 12px 0 6px;
            border-bottom: 1px solid #eee;
            margin: 0 0 12px;
            position: relative;
        }
        
            .content h2 a[href^="#"] {
                width: 32px;
                height: 32px;
                padding-right: 8px;
                position: absolute;
                top: 50%;
                left: -40px;
                margin-top: -16px;
                background: url(../gfx/icon/32/link.png) 0 0 no-repeat;
                opacity: 0;
            }
            
                .content h2:hover a[href^="#"] {
                    display: block;
                    opacity: .5;
                }
                
                    .content h2:hover a[href^="#"]:hover { opacity: 1; }
        
        .content h3 {
            font-size: 21px;
            font-weight: normal;
            margin: 0 0 6px;
        }
        
        .content h4 {
            font-size: 18px;
            margin: 0 0 3px;
        }
        
        .content h1:first-child + p {
            font-size: 27px;
            font-weight: 100;
            line-height: 1.33;
            color: #888;
        }
        
        .content p,
        .content ul,
        .content ol {
            font-size: 14px;
            line-height: 21px;
            margin-bottom: 21px;
        }
        
        .content ul ul,
        .content ol ol {
            margin-bottom: 0;
        }
        
        .content ul p + ul,
        .content ol p + ul,
        .content ul p + ol,
        .content ol p + ol { margin-top: -21px; }
        
        .content p > code,
        .content li > code {
            color: #f77c32;
            background-color: #f5f2f0;
            border-color: rgba(0, 0, 0, .15);
        }
        
        .container .content pre { margin: 0 0 24px; }

a:link {
    color: #f77c32;
    text-decoration: underline;
}

    a:visited { color: #666; }
    a:hover { color: #c73c11; }
    a:focus { border-bottom: 1px solid #000; }
    a:active {  }