.container { padding: 60px 0; }

    .toc {
        padding: 30px 0;
        position: fixed;
        top: 60px;
        max-height: 100%;
        overflow: auto;
    }
    
        @media (max-width: 767px) {
            .toc {
                position: static;
                top: auto;
            }
        }
    
        .toc a:link { text-decoration: none; }
        .toc a:hover { text-decoration: underline; }
    
        .toc h2 {
            font-size: 15px;
            line-height: 1;
            margin: 0 0 8px;
        }
        
        .toc ul {
            margin: 0 20px 24px 0;
            list-style: disc inside;
        }
    
    .content { padding: 24px 0 0; }
        
        .content h1,
        .content h2,
        .content h3 { line-height: 1; }
        
        .content h1 {
            font-size: 30px;
            padding: 0 0 6px;
            border-bottom: 4px solid #F7B532;
            margin: 60px 0 12px;
        }
        
            .content h1:first-child { margin-top: 0; }
        
        .content h2 {
            font-size: 24px;
            font-weight: normal;
            padding: 12px 0 6px;
            border-bottom: 1px solid #eee;
            margin: 0 0 12px;
            position: relative;
        }
        
            .content h2 a[href^="#"] {
                width: 32px;
                height: 32px;
                padding-right: 8px;
                position: absolute;
                top: 50%;
                left: -40px;
                margin-top: -20px;
                background: url(../gfx/icon/32/link.png) 0 0 no-repeat;
                opacity: 0;
            }
            
                .content h2:hover a[href^="#"] {
                    display: block;
                    opacity: .5;
                }
                
                    .content h2:hover a[href^="#"]:hover { opacity: 1; }
        
        .content h3 {
            font-size: 21px;
            font-weight: normal;
            margin: 0 0 6px;
        }
        
        .content h4 {
            font-size: 18px;
            margin: 0 0 3px;
        }
        
        .content p,
        .content ul,
        .content ol {
            font-size: 14px;
            line-height: 21px;
            margin-bottom: 21px;
        }
        
        .content ul ul,
        .content ol ol {
            margin-bottom: 0;
        }
        
        .content ul p + ul,
        .content ol p + ul,
        .content ul p + ol,
        .content ol p + ol { margin-top: -21px; }
        
        .container .content pre { margin: 0 0 24px; }

a {
    color: #f7b532;
    text-decoration: underline;
}

    a:visited { color: #c28610; }
    a:hover { color: #f77c32; }
    a:focus { border-bottom: 1px solid #000; }
    a:active {  }